Button{
    text-transform: capitalize;
}
nav li .submenu {
  visibility: hidden;
}

nav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
}
nav li .submenu li:hover Button {
  color: #ff5252 !important;
}

nav li .submenu li .submenu {
  top: 0%;
  left: 100% !important;
  opacity: 0 !important;
}

nav li .submenu li:hover .submenu {
  opacity: 1 !important;
  left: 100%;
}
